<%= render "shared/header" %>

<div class="contents">
  <div class="first-view">
    <%= image_tag("22081184_l.jpg", class:"top-image") %>
  </div>
  <div class="upper-contents">
    <h2>このサイトについて</h2>
    <div class="ex">
      <div class="detail">
        <h3>①若手社会人の皆様に役立つ本を紹介します</h3>
        <p>社会人になってからこんな悩みってありませんか？<br>
          「先輩が考えていることが凄すぎてついていけない」<br>
          「ビジネス文書の書き方がよくわからない」<br>
          「営業のトークが上手く出来ない」<br>
          「そもそも社会人になって何から勉強すればよいか分からない」<br>
          学生から社会人になったばっかりだとわからないことだらけで悩むこともたくさんあるかと思います。<br>
          このサイトでは、そんな皆様に向けて社会人が読んでおくべきおすすめの本を紹介しております。<br>
          あなたの憧れている先輩も、厳しい上司もみんな若い頃はわからないことだらけでした。<br>
          いろいろな本を読んで勉強し、経験を積み重ねながら今の姿になっているのです。<br>
          あなたも今からその一歩を踏み出して行きましょう。<br>
        </p>
      </div>
      <%= image_tag("business2.webp", class:"photo") %>
    </div>
    <div class="ex">
      <%= image_tag("kobushi.webp", class:"photo") %>
      <div class="detail">
        <h3>②経験豊富な社会人がおすすめするから役に立つ</h3>
        <p>様々な業界、役職で活躍する現役の社会人がおすすめの本を紹介しています。<br>
          紹介してくれる社会人のバックグラウンドは多種多彩です。<br>
          会社の中でも徐々に重要な役割を担うようになってきた中堅の社会人<br>
          既に管理職として部下を何名も抱えているベテランの社会人<br>
          営業職から事務職、手に職を付けたエンジニア職まで、様々な社会人経験を持った人が紹介してくれます。<br>
          今のあなたに役立つ本は必ずあるはずです。<br>
          その本を手にとって社会人としての階段を一段ずつ登っていきましょう<br>
          あなたが一段登ることができなのなら、まだまだ階段を登ることができていない他の人に向けて<br>
          おすすめする本を教えてあげてください。<br>
          あなたの利他の心が、今悩んでいる方の助けになります。<br>
        </p>
      </div>
    </div>
    <div class="ex">
      <div class="detail">
        <h3>③"できる"ビジネスパーソンへの一歩を踏み出そう</h3>
        <p>スキルを身につけることは自信に繋がります。<br>
          自信が付けば今までチャレンジできなかったことに行動を起こすことができるようになります。<br>
          行動を続けることで周囲の見る目が変化していきます。<br>
          自信を持って行動し続けるあなたの姿を周りの人は羨望の目で見つめることでしょう。<br>
          気づけば信頼されるビジネスパーソンに成長を遂げており、まさに”できる”社会人になっていることです。<br>
          そんな姿をイメージしながらまずは一歩を踏み出そう。<br>
          このサイトがあなたの役に立つことを願っています。<br>
        </p>
      </div>
      <%= image_tag("goodbusinessman.webp", class:"photo") %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>
